#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  background-color: #242424;
  padding: 20px;
  color: white;
  margin-bottom: 2rem;
  border-radius: 8px;
}

section {
  text-align: left;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #ffffff;
  border: 1px solid #333;
}

h1, h2, h3 {
  color: #646cff;
}

h2 {
  border-bottom: 1px solid #646cff;
  padding-bottom: 10px;
}
